<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="Model"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="192.0.2.2"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="96"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="Spec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="Index, NonRTDataSeen, pc, Stopped, nonRTDataRead, nonRTLocalBufIdx, nonRTLoopIdx, NewData, rtData, nonRTLocalNewData, rtLocalBufIdx, DoubleBuffer"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants"/>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="1Termination"/>
    </listAttribute>
    <intAttribute key="modelEditorOpenTabs" value="10"/>
    <stringAttribute key="modelParameterActionConstraint" value="ActionConstraintNonRTThreadDoesNotInfinitelySpin"/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="defaultInitValue;;defaultInitValue;1;0"/>
        <listEntry value="RTIterations;;4;0;0"/>
    </listAttribute>
    <stringAttribute key="modelParameterContraint" value=""/>
    <listAttribute key="modelParameterDefinitions"/>
    <stringAttribute key="modelParameterModelValues" value="{}"/>
    <stringAttribute key="modelParameterNewDefinitions" value=""/>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="4"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="DoubleBufferingV2NewData"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
