<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="V2ABAProblem_Model"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="192.0.2.2"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="109"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="Spec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="Memory, nonRTLocalDataPointer, pc, Stopped, nonRTLoopIdx, DataPointer, InRTThread, rtLoopIdx, rtLocalDataPointer"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants">
        <listEntry value="1InvariantNoUninitializedMemoryAccess"/>
        <listEntry value="1InvariantNoMemoryLeak"/>
    </listAttribute>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="1Termination"/>
    </listAttribute>
    <intAttribute key="modelEditorOpenTabs" value="10"/>
    <stringAttribute key="modelExpressionEval" value=""/>
    <stringAttribute key="modelParameterActionConstraint" value="ActionConstraintNonRTThreadDoesNotInfinitelySpin"/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="defaultInitValue;;defaultInitValue;1;0"/>
        <listEntry value="RTIterations;;4;0;0"/>
        <listEntry value="MemoryCapacity;;5;0;0"/>
        <listEntry value="Uninitialized;;Uninitialized;1;0"/>
    </listAttribute>
    <stringAttribute key="modelParameterContraint" value=""/>
    <listAttribute key="modelParameterDefinitions"/>
    <stringAttribute key="modelParameterModelValues" value="{}"/>
    <stringAttribute key="modelParameterNewDefinitions" value=""/>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="4"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="CASExchangeLoopV2ABAProblem"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
    <listAttribute key="traceExploreExpressions">
        <listEntry value="1(pc[&quot;RTThread&quot;] = &quot;rt_proc&quot;) =&gt; (Memory[rtLocalDataPointer] # Uninitialized)"/>
        <listEntry value="1InvariantNoUninitializedMemoryAccess"/>
        <listEntry value="1MemoryUsage"/>
    </listAttribute>
</launchConfiguration>
